<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="NUnit">
			<section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
		</sectionGroup>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
	</configSections>
	<NUnit>
		<TestRunner>
			<!-- Valid values are STA,MTA. Others ignored. -->
			<add key="ApartmentState" value="STA" />
		</TestRunner>
	</NUnit>
	<common>
		<logging>
			<factoryAdapter type="SP.Commons.Logging.ConventionalLog4NetLoggerFactoryAdapter, SP.Commons.Logging"></factoryAdapter>
		</logging>
	</common>

</configuration>